[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = https://github.com/jbub/ghostwriter.git
[submodule "themes/hugo-phlat-theme"]
	path = themes/hugo-phlat-theme
	url = https://github.com/nraboy/hugo-phlat-theme.git
